* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    height: 50%;
}

a {
    color: white;
}


nav {
    display: flex;
    padding: 25px; 
    justify-content: center;
    align-items: center;
    gap: 425px;
}

nav .header {
    font-size: 24px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

.main-text {
    display: flex;
    gap: 50px;
    justify-content: center ;
    align-items: center;
}

.sub-text  {
    width: 500px;
}

.sub-text h1 {
    font-size: 48px;
    font-weight: 800;
}

.sub-text p {
    margin-top: 5px ;
    margin-bottom: 15px;
    font-size: 18px;
}

.sub-text button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin: 15px 0px 15px 0px;
    padding: 8px 25px;
}

.content {
    height: 50%;
}

.content-containers {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    flex: 1;
}

.content-containers div {
    border: 5px solid cyan;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    flex: 0 0 15%;
}

.content h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 24px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    height: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    width: 50%;
}