* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html, body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

a {
    color: white;
}


nav {
    display: flex;
    padding: 25px; 
    justify-content: space-around;
    align-items: center;
}

nav .header {
    font-size: 24px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

.main-text {
    display: flex;
    gap: 50px;
    justify-content: center ;
    align-items: center;
}

.sub-text  {
    width: 500px;
}

.sub-text h1 {
    font-size: 48px;
    font-weight: 800;
}

.sub-text p {
    margin-top: 5px ;
    margin-bottom: 15px;
}

.sub-text button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin: 15px 0px 15px 0px;
    padding: 8px 15px;
}